{% load static %}
<div class="about-area section-padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-xs-12 info">
          <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
            <div>
              <div class="site-heading">
                <p class="mb-3">Dashboards interativos</p>
                <h2 class="section-title">Insights inovadores</h2>
              </div>
              <div class="content">
                <p>
                  Acompanhe o desempenho do seu negócio com dados precisos e insights estratégicos. Nossa solução de estatísticas oferece análises detalhadas para otimizar processos e maximizar seus resultados. Tenha acesso a relatórios interativos, métricas personalizadas e dashboards intuitivos para tomar decisões mais inteligentes e eficientes.
                </p>
                <a href="#" class="btn btn-common mt-3">Ver mais</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
          <img class="img-fluid" src="{% static 'img/about/img-1.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>